@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Open+Sans:ital,wght@1,400;1,500;1,700&family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    font-family: 'Poppins', serif;
    background: #eff9ff;
    /*font-family: 'Merriweather', serif;*/
    /*background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);*/
}
/*Header*/
a, a:hover{
    text-decoration: none;

}
nav{
    background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    /*background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);*/
   /* background: #fd5602;*/
    padding: 5px 20px;
    display: flex ;
    align-items: center;
}
nav a{
    color: #fff;

}
nav a:hover{
    color: #000;
}
.logo img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    margin-top: 3%;
}
.logos img{
    width: 100px;
    height: 100px;
    margin-left: 45%;
    border-radius: 50%;
    margin-top: 0%;
}
.logo{
    flex: 1;
}
nav ul li.logo1{
    flex: 1;
    color:white;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
    margin-left: -141%;
    margin-top: 0%;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;

}
.toggle{
    font-size: 30px;
    display: none;
}
.logocontainer{
    display: inline-block;
}
.logotext{
    font-size: 30px;
    color: #0f3959;
    font-weight: 1000;
    margin-top: 10%;
    margin-left: 100%;
    letter-spacing: 1px;
    font-family: 'Poppins', serif;
    border-right: 5px solid ;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
       typing 2s steps(15),
       cursor .4s step-end infinite alternate;
}
.logopara{
    font-size: 25px;
    color: #0f3959;
    font-weight: 1000;
    margin-top: -2%;
    margin-left: 40%;
}
.logocontact{
    font-size: 25px;
    color: #0f3959;
    font-weight: 1000;
    margin-top: 0%;
    margin-left: 35%;
}
.logosub{
    font-size: 25px;
    color: #0f3959;
    font-weight: 1000;
    margin-top: 0%;
    margin-left: 40%;
}
/* cursor blinking*/
@keyframes cursor{
    50%{
        color: #eff9ff;
        border-color:#eff9ff;
    }
}
/*typing effect*/
@keyframes typing{
    from{
        width: 0;
    }
}

@media screen and (max-width:600px){
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;

    }
    .logos img{
        width: 100px;
        height: 100px;
        margin-left: 33%;
        border-radius: 50%;
        margin-top: 0%;
    }
    .logopara{
        font-size: 20px;
        color: #0f3959;
        font-weight: 1000;
        margin-top: -7%;
        margin-left: 18%;
    }
    .logocontact{
        font-size: 20px;
        color: #0f3959;
        font-weight: 1000;
        margin-top: 0%;
        margin-left: 0%;
    }
    .logosub{
        font-size: 20px;
        color: #0f3959;
        font-weight: 1000;
        margin-top: 0%;
        margin-left: 17%;
    }
    .logotext{
        font-size: 20px;
        margin-left: 1%;
        margin-top: 10%;
    }
    .menu{
        margin-top: 15px;
        display: none;
    }
    .menu.active,.toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
    nav ul li.logo1{
        flex: 1;
        color:white;
        font-size: 23px;
        font-weight: 600;
        cursor: default;
        user-select: none;
        margin-left: 1%;
        margin-top: -12%;
    }
}/*About Us*/
#aboutus{
    margin-top: 5%;
    background-color: #eff9ff;
}
.aboutsection{
    width: 100%;
    margin-top: -100px;

}
.aboutsection .aboutcontainer{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}
.aboutcontainer .abouttitle{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.aboutcontainer .abouttitle h1{
    text-transform: uppercase;
    font-size: 35px;
    color: black;
}
.aboutcontainer .abouttitle h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: black;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.aboutcontent{
    float: left;
    width: 55%;

}
.aboutimage-section{
    float: right;
    width: 40%;

}
.aboutimage-section img{
    width: 50%;
    height: 10%;
    margin-left: 30%;
    border-bottom-right-radius: 45%;
    
}
.aboutcontent .aboutarticle h3{
    color:brown;
    font-size: 25px;
    margin-left: -3%;
}
.aboutcontent .aboutarticle p{
    margin-top: 20px;
    color: brown;
    font-size: 20px;
    line-height: 1.5;
    margin-left: -3%;
}
@media  screen and (max-width: 768px) {
    .aboutsection .aboutcontainer{
        width: 80%;
        display: block;
        margin-bottom: -80%;
        margin-top:0%;
    }
    .aboutcontent{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .aboutimage-section{
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .aboutimage-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        margin-bottom: 100%;
    }
    .aboutcontainer .abouttitle h1{
        text-transform: uppercase;
        font-size: 35px;
        color: black;
        margin-top: 39%;
    }
    .aboutcontent .aboutarticle h3{
        color:brown;
        font-size: 25px;
        margin-left: -1%;
    }
}
/*Footer*/
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 100px;
    /*background: linear-gradient(109.6deg, rgb(14, 11, 56) 11.2%, rgb(239, 37, 37) 91.1%);*/
    background:#111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top-right-radius: 125px;
    margin-top:1%;
}
footer #footercontainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
footer #footercontainer .footersec{
    margin-right: 30px;
}
footer #footercontainer .footersec.aboutus{
    width: 40%;
}
footer #footercontainer h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer #footercontainer h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer  p{
    color: #999;
}
.footersci{
    margin-top: 20px;
    display: flex;
}
.footersci li{
    list-style: none;
}
.footersci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
    text-decoration: none;
    border-radius: 4px;
}
.footersci li a:hover{
    background: #f00;
}
.footersci li a .bx{
    color: #fff;
    font-size: 20px;
}
.quickLinks{
    position: relative;
    width: 25%;
}
.quickLinks ul li{
    list-style: none;
}
.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover{
    color: #fff;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .footerinfo{
    position: relative;
}
.contact .footerinfo li{
    display: flex;
    margin-bottom: 16px;
}
.contact .footerinfo li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .footerinfo li span{
    color: #999;
}
.contact .footerinfo li a{
    color: #999;
    text-decoration: none;
}
.contact .footerinfo li a:hover{
    color: #fff;
}
.copyrighttext{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px)
{
    footer{
        padding: 40px;
    }
    footer #footercontainer .footersec.aboutus{
        width: 400%;
    }
    footer .footercontainer{
        flex-direction: column;
    }
    footer .footercontainer .footersec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .footercontainer .footersec.aboutus,.quickLinks,.contact{
        width: 100%;

    }
    .copyrighttext{
        padding: 8px 40px;
    }
    
    
}